<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CopyCat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F5A768FB1D84E7CB00BC7D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5A7690F1D84E7CB00BC7D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5A7691A1D84E7CB00BC7D9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
